name: Markdown Lint
on:
  pull_request:
    paths:
      - '**/*.md'
  push:
    paths:
      - '**/*.md'
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Markdown lint
        run: make md-lint
      - name: Summary
        if: ${{ success() }}
        run: echo "Markdown lint completed successfully"
